<!doctype html>
<html lang="en">
	<head> 
		<meta content="text/html" charset="UTF-8" http-equiv="content-type">
		<title>Budget Flow</title>
		<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
		
		<script type="text/javascript" src="js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="js/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/lib/d3.min.js"></script>
		<script type="text/javascript" src="js/lib/sankey.js"></script>
		<script type="text/javascript" src="js/lib/sunburst.js"></script>
		<script type="text/javascript" src="js/lib/vue.js"></script>
		<script type="text/javascript" src="js/fedtax.js"></script>
		<script type="text/javascript" src="js/statetax.js"></script>
		<script type="text/javascript" src="js/sankey.component.js"></script>
		<script type="text/javascript" src="js/sunburst.component.js"></script>
		<script type="text/javascript" src="js/script.js"></script>

		<link rel="stylesheet" type="text/css" href="js/lib/jquery-ui-1.12.1/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="js/lib/fontawesome-free-5.1.0-web/css/all.css">
		<link rel="stylesheet" type="text/css" href="styles/style.css" />	
	</head> 
	<body>
		<div id="toolbar">
			<div id="logo">
				<p>VisFinanc<i class="fas fa-euro-sign"></i></p>
			</div>
			<ul>
				<li id="toolbarInfoBtn"><i class="fas fa-info-circle" alt="Help"></i></li>
				<li id="toolbarFinancePropertiesBtn"><i class="fas fa-dollar-sign" alt="Finance Properties"></i></li>
				<li id="toolbarBudgetBtn"><i class="fas fa-coins" alt="Budget"></i></li>
			<ul>
		</div>
		<div id="mainContent">
			<div id="leftCol">
				<div class="infoContainer">
					<h2>I get paid...</h2>
					<input type="radio" name="scale" class="scaleBtn" value="4" v-model.number="paychecksPerMonth" checked="checked">Weekly</input>
					<input type="radio" name="scale" class="scaleBtn" value="2" v-model.number="paychecksPerMonth" checked="checked">Biweekly</input>
					<input type="radio" name="scale" class="scaleBtn" value="1" v-model.number="paychecksPerMonth">Monthly</input>
				</div>
			
				<div id="financePropertiesContainer" class="infoContainer">
					<h2>User values (Per Paycheck)</h2>
					<table>
						<tbody>
							<tr><td>Gross Income ($)</td><td><input id="grossPayBox" v-model.number="grossIncome" class="inputField"/></td></tr>
							<tr><td>Vision Insurance Cost ($)</td><td><input id="visionInsuranceBox" v-model.number="visionInsurance" class="inputField"/></td></tr>
							<tr><td>Health Insurance Cost ($)</td><td><input id="healthInsuranceBox" v-model.number="healthInsurance" class="inputField"/></td></tr>
							<tr><td>Dental Insurance Cost ($)</td><td><input id="dentalInsuranceBox" v-model.number="dentalInsurance" class="inputField"/></td></tr>
							<tr><td>HSA Contributions ($)</td><td><input id="hsaContributionsBox" v-model.number="hsaContribution" class="inputField"/></td></tr>
							<tr><td>401k Contributions (%)</td><td><input id="401kContributionsBox" v-model.number="retirementContributionPercent" class="inputField" type="number" min="0" max="100" step="1"/></td></tr>
							<tr><td>Tithe (%)</td><td><input id="titheBox" v-model.number="tithePercent" class="inputField" type="number" min="0" max="100" step="1"/></td></tr>
						</tbody>
					</table>
				</div>
				
				<div id="budgetContainer" class="infoContainer">
					<h2>Budget Table (Monthly)</h2>
					<table id="budgetTable">
						<tbody>
							<tr v-if="!budgetItem.hidden" v-for="budgetItem in budgetData">
								<td class="deleteTd"><i class="fas fa-trash" v-on:click="removeBudgetItem(budgetItem.name)"></i></td>
								<td><input class="budgetNameField" v-model="budgetItem.name"/></td>
								<td><input class="inputField budgetValueField" v-model.number="budgetItem.value"/></td>
							</tr>
						</tbody>
					</table>
					<i id="newBudgetItemBtn" class="fas fa-plus" v-on:click="addBudgetItem"></i>
				</div>
			</div>
			
			
			
			<div id="sankeyChart" class="chartContainer"></div>
			<div id="sunburstChart" class="chartContainer">
				<p id="valueBox"></p>
			</div>
		<div>
		<div id="infoDialog">
			<ul>
				<li>biweekly pay which is assumed to be half of given income</li>
				<li>single, no children</li>
				<li>make under 100k</li>
				<li>live in anne arundel county, maryland</li>
			</ul>
		<div>
	</body> 
</html>